:root {
  --bg : white;
  --bgSoft : rgb(177, 172, 172);
  --bgSofter : rgb(214, 209, 209);
  --bgSecondary : rgb(32, 32, 32);
}

* {
  font-family: Vazir;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  direction: rtl;
}

