

.container {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    /* justify-content: space-between; */
    border-bottom: 1px solid var(--bgSoft);
}

.textContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.sender {
    font-size: 20px;
    font-weight: bold;
}

  